<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/canon/canon.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>D:/canon/onlab.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.springframework.jdbc" level="ALL" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.transaction" level="ALL" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.transaction.interceptor" level="ALL" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="hu.bme.canon" level="ALL" >
        <appender-ref ref="FILE" />
    </logger>

    <root level="ALL">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>-->

</configuration>