<!DOCTYPE html>
<html lang="en" ng-app="canonApp">
<head>
    <meta charset="UTF-8">
    <title>CanonProject</title>

    <script src="webjars/angular/1.5.0-beta.2/angular.js"></script>


    <link rel="stylesheet" href="webjars/angular-material/1.0.0-rc5/angular-material.css">

    <script src="webjars/angular-animate/1.5.0-beta.2/angular-animate.js"></script>
    <script src="webjars/angular-aria/1.5.0-beta.2/angular-aria.js"></script>
    <script src="webjars/angular-material/1.0.0-rc5/angular-material.js"></script>


    <link rel="stylesheet" href="resources/css/app.css">

    <script src="resources/js/app.js"></script>
    <script src="resources/js/controllers.js"></script>
    <script src="resources/js/directives.js"></script>
    <script src="resources/js/services.js"></script>
    <script src="resources/js/filters.js"></script>
    <script src="resources/js/animations.js"></script>

</head>
<body ng-controller="indexCtrl">

</body>
</html>